@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');




.container .card
{
max-width: 300px;
height: 215px;
margin: 30px 10px;
padding: 20px 15px;
box-shadow: 0 5px 20px rgba(0,0,0,0.5);
transition: 0.3s ease-in-out;
}
.container .card:hover
{
height: 450px;
}
.container .card .imgContainer
{
position: relative;
width:250px;
height:250px;
top:-50px;
left:10px;
z-index: 1;
box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .imgContainer img
{
max-width: 100%;
border-radius: 4px;
}
.container .card .content
{
position: relative;
margin-top: -140px;
padding: 10px 15px;
text-align: center;
color:#111;
visibility: hidden;
opacity: 0;
pointer-events: none;
transition: 0.3s ease-in-out;
}
.container .card:hover .content
{
visibility: visible;
opacity: 1;
margin-top: -40px;
transition-delay: 0.3s;
}

@media (max-width: 330px){
.container .card .imgContainer{
    left: -2px;
}
}
.wave{
    width: 100%;
    min-height: 400px;
position: relative;
background:linear-gradient(10deg,#3fb561,#47b868);
}
.custom-shape-divider-bottom-1655546158 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1655546158 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 133px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1655546158 .shape-fill {
    fill: #FFFFFF;
}